In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [3]:
# -*- encoding: utf-8 -*-

In [3]:
comments = pd.read_csv("/Users/aishwaryagupta/Desktop/Btp feature creation/project data/comments_linked.csv", encoding = "ISO-8859-1")
comments

,Unnamed: 0,Unnamed: 0_x,so_id,gh_id,mailHash,Unnamed: 0_y,Id,PostId,Score,Text,CreationDate,UserId
0,0,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,0,1,35314,9.0,not sure why this is getting downvoted -- it i...,2008-09-06T08:07:10.730,1.0
1,1,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,410,711,50366,4.0,"""Oll Korrect"" is part of the historical deriva...",2008-09-09T08:22:44.863,1.0
2,2,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,418,720,50769,NaN,we will eventually be able to merge accounts i...,2008-09-09T08:40:45.680,1.0
3,3,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,419,721,50907,NaN,"I've met Ted, for the record, and I don't agre...",2008-09-09T08:42:04.660,1.0
4,4,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,420,723,50967,NaN,myopenid.com is my recommendation -- they have...,2008-09-09T08:45:03.080,1.0
5,5,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2386,4039,60423,3.0,"""use them all the time, unless you have a very...",2008-09-13T09:10:04.623,1.0
6,6,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2389,4044,58912,14.0,that's hilarious! :),2008-09-13T09:20:15.753,1.0
7,7,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2435,4124,59932,3.0,"this is a great response, but you should note ...",2008-09-13T14:55:39.863,1.0
8,8,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2607,4369,34025,4.0,I do not think this is what the question was a...,2008-09-14T10:21:39.047,1.0
9,9,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2614,4376,61134,3.0,I agree that log4net is a pretty heavy depende...,2008-09-14T10:48:31.883,1.0
10,10,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2860,4731,61778,NaN,"yeah, but the only problem with Markdown is th...",2008-09-15T04:42:29.693,1.0
11,11,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2952,4860,62160,13.0,an excellent point -- when *storing* dates in ...,2008-09-15T11:04:46.110,1.0
12,12,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,3941,6440,68338,8.0,this is how we do it -- deletion is always a d...,2008-09-16T01:11:11.940,1.0
13,13,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,4419,7175,70706,1.0,I was going to link this! I LOVE LOVE LOVE thi...,2008-09-16T11:01:35.080,1.0
14,14,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,4432,7189,71271,NaN,this is not a very good question -- can you re...,2008-09-16T11:14:24.317,1.0
15,15,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,5984,9568,79709,NaN,I recommend editing this post to include some ...,2008-09-17T03:52:45.397,1.0
16,16,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,6313,10081,81099,NaN,I agree.. why do you need to do it this way? I...,2008-09-17T08:43:58.740,1.0
17,17,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,6315,10083,81080,1.0,note that you can also kill individual locks f...,2008-09-17T08:45:31.857,1.0
18,18,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,8772,13865,92835,NaN,multiple web servers or just one? that will ch...,2008-09-18T14:07:19.063,1.0
19,19,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,8827,13950,93077,NaN,from Fletch. nice.,2008-09-18T14:34:10.963,1.0
20,20,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,10675,16901,100106,NaN,"not my idea of ""fun"" even a little, but I thin...",2008-09-19T08:39:26.783,1.0
21,21,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,13072,20623,17032,1.0,mmmmm... dooberries.. delicious!,2008-09-20T17:06:42.287,1.0
22,22,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,26255,41035,144791,NaN,"five different people, you mean",2008-09-28T14:52:55.747,1.0
23,23,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,26258,41039,144791,NaN,"also, you can fix it yourself by rolling back ...",2008-09-28T14:53:52.310,1.0
24,24,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,28435,44371,140841,1.0,"""reformatting code that is messy creates unusa...",2008-09-29T23:03:27.947,1.0
25,25,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,28439,44379,128816,1.0,2 offensive votes so far. And we wonder why mo...,2008-09-29T23:06:42.290,1.0
26,26,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,36837,56847,166573,NaN,"also known as ""guard clause""",2008-10-04T19:55:42.860,1.0
27,27,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,38175,58991,174248,NaN,"agree, is this a web app or not?",2008-10-06T13:26:32.253,1.0
28,28,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,39690,61241,159582,1.0,"hey, cool -- thank you! I will try this!",2008-10-07T08:17:43.767,1.0
29,29,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,40158,61925,178587,4.0,except input.StartsWith() will perform about 1...,2008-10-07T14:04:14.610,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5051294,5051294,309604,1566601,947229,2f85e06ca6e6cacdc4e3c95213837f14,249782,15596141,11748197,NaN,"@Maximus, I would like to read from dedicated ...",2012-07-31T21:15:10.763,1566601.0
5051295,5051295,309604,1566601,947229,2f85e06ca6e6cacdc4e3c95213837f14,251274,15597758,11749266,NaN,"Thank you for your answer, I will try it tomor...",2012-07-31T22:33:20.117,1566601.0
5051296,5051296,309611,1566629,596544,56a1fc44978e5be9f658fc9bdb8fc259,249460,15595799,11748358,NaN,"Yes, your assumption is correct, but having a ...",2012-07-31T21:00:14.823,1566629.0
5051297,5051297,309611,1566629,596544,56a1fc44978e5be9f658fc9bdb8fc259,250880,15597327,11748358,NaN,the syntax sudo -i echo '$USER' returns $USER....,2012-07-31T22:10:49.373,1566629.0
5051298,5051298,309611,1566629,596544,56a1fc44978e5be9f658fc9bdb8fc259,250914,15597365,11748358,NaN,"If I try, sudo -i echo ""$USER"" , then it retur...",2012-07-31T22:12:57.220,1566629.0
5051299,5051299,309614,1566643,4394311,a658ddea371628b9df1501e6ba521168,246491,15592543,11746867,NaN,"If I lose the 's, I get this error: The text, ...",2012-07-31T18:45:16.233,1566643.0
5051300,5051300,309614,1566643,4394311,a658ddea371628b9df1501e6ba521168,246611,15592679,11746866,NaN,I changed the column name just to eliminate th...,2012-07-31T18:50:19.630,1566643.0
5051301,5051301,309614,1566643,4394311,a658ddea371628b9df1501e6ba521168,246753,15592834,11746874,NaN,Yes! that worked perfectly :) If you have time...,2012-07-31T18:56:29.217,1566643.0
5051302,5051302,309622,1566689,137639,6b6f524fa9c3cba9974245c79a84b7c7,248049,15594239,11747321,NaN,right..So how can i load appcontext into beans...,2012-07-31T19:54:17.467,1566689.0
5051303,5051303,309622,1566689,137639,6b6f524fa9c3cba9974245c79a84b7c7,248089,15594284,11747804,NaN,"there is tm.web.port in properties file, just ...",2012-07-31T19:56:13.333,1566689.0
5051304,5051304,309622,1566689,137639,6b6f524fa9c3cba9974245c79a84b7c7,248158,15594360,11747805,NaN,Thanks for the reply.I have already done all t...,2012-07-31T19:59:32.067,1566689.0
5051305,5051305,309622,1566689,137639,6b6f524fa9c3cba9974245c79a84b7c7,248222,15594430,11747805,NaN,I want to read the properties file using Rest....,2012-07-31T20:02:09.117,1566689.0
5051306,5051306,309630,1566747,1049396,60e3a0b5ee8d66438e8fc08d1ba4b519,247791,15593963,11747540,NaN,"i did, but it goes after the tbody.",2012-07-31T19:42:41.913,1566747.0
5051307,5051307,309630,1566747,1049396,60e3a0b5ee8d66438e8fc08d1ba4b519,247817,15593990,11747540,NaN,"i have the answer, but looks like i will have ...",2012-07-31T19:43:44.410,1566747.0
5051308,5051308,309630,1566747,1049396,60e3a0b5ee8d66438e8fc08d1ba4b519,247857,15594034,11747540,NaN,this will do it\r\nTableElement myTable = quer...,2012-07-31T19:45:41.400,1566747.0
5051309,5051309,309644,1566813,1918925,9370e965a8cb362339126710f94fd714,249508,15595849,11748301,NaN,I am still learning as I go so don't be afraid...,2012-07-31T21:02:52.080,1566813.0
5051310,5051310,309652,1566838,1931124,d3e4e8db8f69bf9fa3c41c1b7fee4ba7,250581,15597002,11748269,NaN,here is a direct link: http://apdrc.soest.hawa...,2012-07-31T21:52:34.430,1566838.0
5051311,5051311,309652,1566838,1931124,d3e4e8db8f69bf9fa3c41c1b7fee4ba7,251804,15598346,11748698,NaN,Thanks for your help. It is weird. I used 0.2...,2012-07-31T23:04:43.470,1566838.0
5051312,5051312,309659,1566861,911331,2627a7cb0f79bbed11974ef073c0c5c4,250628,15597052,11749458,NaN,"Ah, in the actual code, I do this, I just left...",2012-07-31T21:54:34.710,1566861.0
5051313,5051313,309659,1566861,911331,2627a7cb0f79bbed11974ef073c0c5c4,250675,15597105,11749333,NaN,"This is quite useful. However, doesn't doing ...",2012-07-31T21:56:55.663,1566861.0
5051314,5051314,309659,1566861,911331,2627a7cb0f79bbed11974ef073c0c5c4,250947,15597403,11749333,NaN,"I mean, I wrote the modules `website_a` and `w...",2012-07-31T22:14:49.100,1566861.0
5051315,5051315,309659,1566861,911331,2627a7cb0f79bbed11974ef073c0c5c4,251268,15597750,11749458,NaN,I have it set up so that the user provides the...,2012-07-31T22:32:40.543,1566861.0
5051316,5051316,309659,1566861,911331,2627a7cb0f79bbed11974ef073c0c5c4,251427,15597936,11749333,NaN,"@sr2222 Classes it is, then. I'm still at the...",2012-07-31T22:42:51.850,1566861.0
5051317,5051317,309663,1566878,7399242,3a7ebcc6b7074ac2a2df5a4c6774d513,720902,5696556,5082735,NaN,It looks like the problem is not with the rece...,2011-02-22T21:46:51.323,1566878.0
5051318,5051318,309677,1566957,8321077,a5ef56fd0129590396e7eea0eed7af2a,250157,15596534,11749155,NaN,I am using the jQuery .load() function so I ha...,2012-07-31T21:32:04.830,1566957.0
5051319,5051319,309677,1566957,8321077,a5ef56fd0129590396e7eea0eed7af2a,250759,15597193,11749155,NaN,I put my full code in the original post,2012-07-31T22:01:43.273,1566957.0
5051320,5051320,309686,1566991,480650,d13d8bdeede12166d79db3e06e90194c,250774,15597208,11749386,NaN,"How do I, for example, combine two memory bloc...",2012-07-31T22:03:10.907,1566991.0
5051321,5051321,309696,1567060,9421810,5b6bf486e60bdddcae7cb67f0884100e,251141,15597610,11749929,NaN,Thank you VERY much. I greatly appreciate it.,2012-07-31T22:25:21.550,1567060.0
5051322,5051322,309699,1567078,1300616,a71eb82dea7eb425c831b558819ebc2e,252141,15598711,11750112,NaN,I know I was using the same Book it's because ...,2012-07-31T23:31:40.920,1567078.0
5051323,5051323,309699,1567078,1300616,a71eb82dea7eb425c831b558819ebc2e,252170,15598743,11750082,NaN,"This is exactly what I was looking for, I don'...",2012-07-31T23:33:37.440,1567078.0

In [10]:
comments1=comments[["so_id","gh_id","Id", "PostId","Text"]]

In [11]:
comments1

,so_id,gh_id,Id,PostId,Text
0,1,279488,1,35314,not sure why this is getting downvoted -- it i...
1,1,279488,711,50366,"""Oll Korrect"" is part of the historical deriva..."
2,1,279488,720,50769,we will eventually be able to merge accounts i...
3,1,279488,721,50907,"I've met Ted, for the record, and I don't agre..."
4,1,279488,723,50967,myopenid.com is my recommendation -- they have...
5,1,279488,4039,60423,"""use them all the time, unless you have a very..."
6,1,279488,4044,58912,that's hilarious! :)
7,1,279488,4124,59932,"this is a great response, but you should note ..."
8,1,279488,4369,34025,I do not think this is what the question was a...
9,1,279488,4376,61134,I agree that log4net is a pretty heavy depende...
10,1,279488,4731,61778,"yeah, but the only problem with Markdown is th..."
11,1,279488,4860,62160,an excellent point -- when *storing* dates in ...
12,1,279488,6440,68338,this is how we do it -- deletion is always a d...
13,1,279488,7175,70706,I was going to link this! I LOVE LOVE LOVE thi...
14,1,279488,7189,71271,this is not a very good question -- can you re...
15,1,279488,9568,79709,I recommend editing this post to include some ...
16,1,279488,10081,81099,I agree.. why do you need to do it this way? I...
17,1,279488,10083,81080,note that you can also kill individual locks f...
18,1,279488,13865,92835,multiple web servers or just one? that will ch...
19,1,279488,13950,93077,from Fletch. nice.
20,1,279488,16901,100106,"not my idea of ""fun"" even a little, but I thin..."
21,1,279488,20623,17032,mmmmm... dooberries.. delicious!
22,1,279488,41035,144791,"five different people, you mean"
23,1,279488,41039,144791,"also, you can fix it yourself by rolling back ..."
24,1,279488,44371,140841,"""reformatting code that is messy creates unusa..."
25,1,279488,44379,128816,2 offensive votes so far. And we wonder why mo...
26,1,279488,56847,166573,"also known as ""guard clause"""
27,1,279488,58991,174248,"agree, is this a web app or not?"
28,1,279488,61241,159582,"hey, cool -- thank you! I will try this!"
29,1,279488,61925,178587,except input.StartsWith() will perform about 1...
...,...,...,...,...,...
5051294,1566601,947229,15596141,11748197,"@Maximus, I would like to read from dedicated ..."
5051295,1566601,947229,15597758,11749266,"Thank you for your answer, I will try it tomor..."
5051296,1566629,596544,15595799,11748358,"Yes, your assumption is correct, but having a ..."
5051297,1566629,596544,15597327,11748358,the syntax sudo -i echo '$USER' returns $USER....
5051298,1566629,596544,15597365,11748358,"If I try, sudo -i echo ""$USER"" , then it retur..."
5051299,1566643,4394311,15592543,11746867,"If I lose the 's, I get this error: The text, ..."
5051300,1566643,4394311,15592679,11746866,I changed the column name just to eliminate th...
5051301,1566643,4394311,15592834,11746874,Yes! that worked perfectly :) If you have time...
5051302,1566689,137639,15594239,11747321,right..So how can i load appcontext into beans...
5051303,1566689,137639,15594284,11747804,"there is tm.web.port in properties file, just ..."
5051304,1566689,137639,15594360,11747805,Thanks for the reply.I have already done all t...
5051305,1566689,137639,15594430,11747805,I want to read the properties file using Rest....
5051306,1566747,1049396,15593963,11747540,"i did, but it goes after the tbody."
5051307,1566747,1049396,15593990,11747540,"i have the answer, but looks like i will have ..."
5051308,1566747,1049396,15594034,11747540,this will do it\r\nTableElement myTable = quer...
5051309,1566813,1918925,15595849,11748301,I am still learning as I go so don't be afraid...
5051310,1566838,1931124,15597002,11748269,here is a direct link: http://apdrc.soest.hawa...
5051311,1566838,1931124,15598346,11748698,Thanks for your help. It is weird. I used 0.2...
5051312,1566861,911331,15597052,11749458,"Ah, in the actual code, I do this, I just left..."
5051313,1566861,911331,15597105,11749333,"This is quite useful. However, doesn't doing ..."
5051314,1566861,911331,15597403,11749333,"I mean, I wrote the modules `website_a` and `w..."
5051315,1566861,911331,15597750,11749458,I have it set up so that the user provides the...
5051316,1566861,911331,15597936,11749333,"@sr2222 Classes it is, then. I'm still at the..."
5051317,1566878,7399242,5696556,5082735,It looks like the problem is not with the rece...
5051318,1566957,8321077,15596534,11749155,I am using the jQuery .load() function so I ha...
5051319,1566957,8321077,15597193,11749155,I put my full code in the original post
5051320,1566991,480650,15597208,11749386,"How do I, for example, combine two memory bloc..."
5051321,1567060,9421810,15597610,11749929,Thank you VERY much. I greatly appreciate it.
5051322,1567078,1300616,15598711,11750112,I know I was using the same Book it's because ...
5051323,1567078,1300616,15598743,11750082,"This is exactly what I was looking for, I don'..."

In [4]:
com = comments.head(1000000)

## SO dataset

### The Comments table here has ONLY the directly linked users across GH and SO

In [7]:
trial=com.head(100)

## Typos - Grammar check

In [5]:
import grammar_check
tool = grammar_check.LanguageTool('en-GB')
def typo_grammar(text):
    try:
        text = str(text.encode("utf8"))
        matches = tool.check(text)
        return len(matches)
    except:
        return 0

In [8]:
trial['typo_score'] = trial['Text'].apply(typo_grammar)

In [9]:
trial

,Unnamed: 0,Unnamed: 0_x,so_id,gh_id,mailHash,Unnamed: 0_y,Id,PostId,Score,Text,CreationDate,UserId,typo_score
0,0,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,0,1,35314,9.0,not sure why this is getting downvoted -- it i...,2008-09-06T08:07:10.730,1.0,1
1,1,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,410,711,50366,4.0,"""Oll Korrect"" is part of the historical deriva...",2008-09-09T08:22:44.863,1.0,2
2,2,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,418,720,50769,NaN,we will eventually be able to merge accounts i...,2008-09-09T08:40:45.680,1.0,2
3,3,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,419,721,50907,NaN,"I've met Ted, for the record, and I don't agre...",2008-09-09T08:42:04.660,1.0,3
4,4,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,420,723,50967,NaN,myopenid.com is my recommendation -- they have...,2008-09-09T08:45:03.080,1.0,1
5,5,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2386,4039,60423,3.0,"""use them all the time, unless you have a very...",2008-09-13T09:10:04.623,1.0,3
6,6,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2389,4044,58912,14.0,that's hilarious! :),2008-09-13T09:20:15.753,1.0,2
7,7,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2435,4124,59932,3.0,"this is a great response, but you should note ...",2008-09-13T14:55:39.863,1.0,3
8,8,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2607,4369,34025,4.0,I do not think this is what the question was a...,2008-09-14T10:21:39.047,1.0,1
9,9,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2614,4376,61134,3.0,I agree that log4net is a pretty heavy depende...,2008-09-14T10:48:31.883,1.0,1
10,10,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2860,4731,61778,NaN,"yeah, but the only problem with Markdown is th...",2008-09-15T04:42:29.693,1.0,2
11,11,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,2952,4860,62160,13.0,an excellent point -- when *storing* dates in ...,2008-09-15T11:04:46.110,1.0,1
12,12,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,3941,6440,68338,8.0,this is how we do it -- deletion is always a d...,2008-09-16T01:11:11.940,1.0,0
13,13,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,4419,7175,70706,1.0,I was going to link this! I LOVE LOVE LOVE thi...,2008-09-16T11:01:35.080,1.0,4
14,14,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,4432,7189,71271,NaN,this is not a very good question -- can you re...,2008-09-16T11:14:24.317,1.0,1
15,15,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,5984,9568,79709,NaN,I recommend editing this post to include some ...,2008-09-17T03:52:45.397,1.0,1
16,16,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,6313,10081,81099,NaN,I agree.. why do you need to do it this way? I...,2008-09-17T08:43:58.740,1.0,3
17,17,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,6315,10083,81080,1.0,note that you can also kill individual locks f...,2008-09-17T08:45:31.857,1.0,1
18,18,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,8772,13865,92835,NaN,multiple web servers or just one? that will ch...,2008-09-18T14:07:19.063,1.0,3
19,19,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,8827,13950,93077,NaN,from Fletch. nice.,2008-09-18T14:34:10.963,1.0,2
20,20,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,10675,16901,100106,NaN,"not my idea of ""fun"" even a little, but I thin...",2008-09-19T08:39:26.783,1.0,5
21,21,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,13072,20623,17032,1.0,mmmmm... dooberries.. delicious!,2008-09-20T17:06:42.287,1.0,3
22,22,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,26255,41035,144791,NaN,"five different people, you mean",2008-09-28T14:52:55.747,1.0,0
23,23,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,26258,41039,144791,NaN,"also, you can fix it yourself by rolling back ...",2008-09-28T14:53:52.310,1.0,0
24,24,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,28435,44371,140841,1.0,"""reformatting code that is messy creates unusa...",2008-09-29T23:03:27.947,1.0,3
25,25,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,28439,44379,128816,1.0,2 offensive votes so far. And we wonder why mo...,2008-09-29T23:06:42.290,1.0,2
26,26,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,36837,56847,166573,NaN,"also known as ""guard clause""",2008-10-04T19:55:42.860,1.0,2
27,27,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,38175,58991,174248,NaN,"agree, is this a web app or not?",2008-10-06T13:26:32.253,1.0,1
28,28,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,39690,61241,159582,1.0,"hey, cool -- thank you! I will try this!",2008-10-07T08:17:43.767,1.0,2
29,29,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,40158,61925,178587,4.0,except input.StartsWith() will perform about 1...,2008-10-07T14:04:14.610,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,70,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,117502,173769,337704,1.0,this is not an exact duplicate; the other ques...,2008-12-03T16:26:53.790,1.0,1
71,71,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,117517,173791,337765,NaN,do you have examples of this?,2008-12-03T16:33:20.063,1.0,1
72,72,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,117543,173822,337704,NaN,"it is related but it is not EXACTLY the same, ...",2008-12-03T16:44:32.863,1.0,1
73,73,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,117552,173834,337817,NaN,"yeah, it is 10x slower, but it's very easily p...",2008-12-03T16:48:04.197,1.0,1
74,74,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,117564,173851,337704,NaN,"note, there's no need to add ""related to"" sinc...",2008-12-03T16:51:45.843,1.0,3
75,75,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,118033,174558,337817,NaN,"""Granted, it's easy to see where to add the pa...",2008-12-03T21:10:22.390,1.0,4
76,76,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,128373,189699,358350,7.0,"this is also known as ""tiger striping"" and no ...",2008-12-11T07:42:51.283,1.0,3
77,77,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,138690,204831,376475,NaN,x86 (32-bit) is a world of pain. I know this i...,2008-12-18T04:34:03.673,1.0,3
78,78,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,139075,205362,374760,NaN,much better title :),2008-12-18T11:27:02.780,1.0,1
79,79,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,141021,208094,380392,NaN,I guess not programmer-y enough. I think this ...,2008-12-19T10:46:27.760,1.0,2
80,80,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,141055,208139,380682,NaN,"I would prefer [^:]+ to \w* personally, other ...",2008-12-19T11:15:48.980,1.0,1
81,81,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,143316,211653,382342,NaN,"wow, you've always worked alone until now? You...",2008-12-21T04:48:40.987,1.0,1
82,82,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,148213,219457,387452,6.0,best. answer. ever.,2008-12-25T00:32:17.960,1.0,3
83,83,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,152392,225533,219917,NaN,ELMAH is cool (we use a branch of it) but I th...,2008-12-30T09:25:24.213,1.0,2
84,84,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,153860,227594,402274,NaN,malcolm edit your post and please stop asking ...,2008-12-31T05:15:58.117,1.0,1
85,85,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,155129,229492,399620,NaN,"quality monitor, without a doubt. *PLEASE* pay...",2009-01-01T00:35:53.313,1.0,3
86,86,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,155410,229939,404642,1.0,really excellent reponse,2009-01-01T10:49:31.360,1.0,0
87,87,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,158195,233762,405584,NaN,Get used to it. Even the (semi) new hotness Ru...,2009-01-03T07:02:38.450,1.0,0
88,88,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,158369,233986,408965,NaN,windows? osx? linux???,2009-01-03T12:04:07.250,1.0,3
89,89,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,158389,234013,408747,NaN,"much better than previous question, interestin...",2009-01-03T12:45:20.130,1.0,1
90,90,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,159634,235669,410822,NaN,Can you provide specific examples of what you ...,2009-01-04T11:00:55.817,1.0,0
91,91,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,160792,237227,412427,13.0,"Hi Turion, welcome to Stack Overflow! I re-sav...",2009-01-05T06:51:15.213,1.0,7
92,92,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,160827,237275,412486,NaN,can you provide more detail?,2009-01-05T07:32:30.027,1.0,1
93,93,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,160861,237324,412543,1.0,"""Maybe that's a matter of a provider offering ...",2009-01-05T08:12:45.843,1.0,3
94,94,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,160884,237352,410135,10.0,see https://rpxnow.com/ for one example of a b...,2009-01-05T08:32:30.640,1.0,1
95,95,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,161095,237626,242189,NaN,workaround is to escape the single quote or us...,2009-01-05T11:50:30.677,1.0,1
96,96,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,161097,237628,242189,NaN,"ps which lemming type are you? blocker, builde...",2009-01-05T11:51:15.263,1.0,4
97,97,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,161156,237707,412939,NaN,"not feeling the programming on this one, but I...",2009-01-05T12:40:49.327,1.0,3
98,98,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,162593,239658,414895,1.0,single link posts with no explanation? you can...,2009-01-06T01:08:41.097,1.0,2
99,99,0,1,279488,51d623f33f8b83095db84ff35e15dbe8,165638,243983,419754,NaN,"""previous senior developer never did countenan...",2009-01-07T10:59:23.353,1.0,5

In [12]:
comments1['typo_score'] = comments1['Text'].apply(typo_grammar)

In [13]:
comments1

,so_id,gh_id,Id,PostId,Text,typo_score
0,1,279488,1,35314,not sure why this is getting downvoted -- it i...,1
1,1,279488,711,50366,"""Oll Korrect"" is part of the historical deriva...",2
2,1,279488,720,50769,we will eventually be able to merge accounts i...,2
3,1,279488,721,50907,"I've met Ted, for the record, and I don't agre...",3
4,1,279488,723,50967,myopenid.com is my recommendation -- they have...,1
5,1,279488,4039,60423,"""use them all the time, unless you have a very...",3
6,1,279488,4044,58912,that's hilarious! :),2
7,1,279488,4124,59932,"this is a great response, but you should note ...",3
8,1,279488,4369,34025,I do not think this is what the question was a...,1
9,1,279488,4376,61134,I agree that log4net is a pretty heavy depende...,1
10,1,279488,4731,61778,"yeah, but the only problem with Markdown is th...",2
11,1,279488,4860,62160,an excellent point -- when *storing* dates in ...,1
12,1,279488,6440,68338,this is how we do it -- deletion is always a d...,0
13,1,279488,7175,70706,I was going to link this! I LOVE LOVE LOVE thi...,4
14,1,279488,7189,71271,this is not a very good question -- can you re...,1
15,1,279488,9568,79709,I recommend editing this post to include some ...,1
16,1,279488,10081,81099,I agree.. why do you need to do it this way? I...,3
17,1,279488,10083,81080,note that you can also kill individual locks f...,1
18,1,279488,13865,92835,multiple web servers or just one? that will ch...,3
19,1,279488,13950,93077,from Fletch. nice.,2
20,1,279488,16901,100106,"not my idea of ""fun"" even a little, but I thin...",5
21,1,279488,20623,17032,mmmmm... dooberries.. delicious!,3
22,1,279488,41035,144791,"five different people, you mean",0
23,1,279488,41039,144791,"also, you can fix it yourself by rolling back ...",0
24,1,279488,44371,140841,"""reformatting code that is messy creates unusa...",3
25,1,279488,44379,128816,2 offensive votes so far. And we wonder why mo...,2
26,1,279488,56847,166573,"also known as ""guard clause""",2
27,1,279488,58991,174248,"agree, is this a web app or not?",1
28,1,279488,61241,159582,"hey, cool -- thank you! I will try this!",2
29,1,279488,61925,178587,except input.StartsWith() will perform about 1...,1
...,...,...,...,...,...,...
5051294,1566601,947229,15596141,11748197,"@Maximus, I would like to read from dedicated ...",0
5051295,1566601,947229,15597758,11749266,"Thank you for your answer, I will try it tomor...",0
5051296,1566629,596544,15595799,11748358,"Yes, your assumption is correct, but having a ...",0
5051297,1566629,596544,15597327,11748358,the syntax sudo -i echo '$USER' returns $USER....,0
5051298,1566629,596544,15597365,11748358,"If I try, sudo -i echo ""$USER"" , then it retur...",0
5051299,1566643,4394311,15592543,11746867,"If I lose the 's, I get this error: The text, ...",0
5051300,1566643,4394311,15592679,11746866,I changed the column name just to eliminate th...,0
5051301,1566643,4394311,15592834,11746874,Yes! that worked perfectly :) If you have time...,0
5051302,1566689,137639,15594239,11747321,right..So how can i load appcontext into beans...,0
5051303,1566689,137639,15594284,11747804,"there is tm.web.port in properties file, just ...",0
5051304,1566689,137639,15594360,11747805,Thanks for the reply.I have already done all t...,0
5051305,1566689,137639,15594430,11747805,I want to read the properties file using Rest....,0
5051306,1566747,1049396,15593963,11747540,"i did, but it goes after the tbody.",0
5051307,1566747,1049396,15593990,11747540,"i have the answer, but looks like i will have ...",0
5051308,1566747,1049396,15594034,11747540,this will do it\r\nTableElement myTable = quer...,0
5051309,1566813,1918925,15595849,11748301,I am still learning as I go so don't be afraid...,0
5051310,1566838,1931124,15597002,11748269,here is a direct link: http://apdrc.soest.hawa...,0
5051311,1566838,1931124,15598346,11748698,Thanks for your help. It is weird. I used 0.2...,0
5051312,1566861,911331,15597052,11749458,"Ah, in the actual code, I do this, I just left...",0
5051313,1566861,911331,15597105,11749333,"This is quite useful. However, doesn't doing ...",0
5051314,1566861,911331,15597403,11749333,"I mean, I wrote the modules `website_a` and `w...",0
5051315,1566861,911331,15597750,11749458,I have it set up so that the user provides the...,0
5051316,1566861,911331,15597936,11749333,"@sr2222 Classes it is, then. I'm still at the...",0
5051317,1566878,7399242,5696556,5082735,It looks like the problem is not with the rece...,0
5051318,1566957,8321077,15596534,11749155,I am using the jQuery .load() function so I ha...,0
5051319,1566957,8321077,15597193,11749155,I put my full code in the original post,0
5051320,1566991,480650,15597208,11749386,"How do I, for example, combine two memory bloc...",0
5051321,1567060,9421810,15597610,11749929,Thank you VERY much. I greatly appreciate it.,0
5051322,1567078,1300616,15598711,11750112,I know I was using the same Book it's because ...,0
5051323,1567078,1300616,15598743,11750082,"This is exactly what I was looking for, I don'...",0

In [14]:
comments1.to_csv("typo_comments.csv")

In [26]:
mean_typo_comments = comments1.groupby('so_id')['typo_score'].mean().reset_index()
mean_typo_comments

          so_id  typo_score
0             1    1.668687
1             2    0.166667
2             3    0.652439
3             5    1.389610
4             9    1.384615
5            13    0.894438
6            17    0.000000
7            19    0.000000
8            20    0.000000
9            24    0.000000
10           26    0.000000
11           29    0.000000
12           34    0.000000
13           35    0.000000
14           36    0.000000
15           37    0.000000
16           38    0.000000
17           39    0.000000
18           40    0.000000
19           43    0.000000
20           49    0.000000
21           50    0.000000
22           51    0.000000
23           56    0.000000
24           58    0.000000
25           60    0.000000
26           61    0.000000
27           65    0.000000
28           67    0.000000
29           71    0.000000
...         ...         ...
121248  1566017    0.000000
121249  1566163    0.000000
121250  1566180    0.000000
121251  1566189    0.000000
121252  1566244    0.000000
121253  1566255    0.000000
121254  1566358    0.000000
121255  1566419    0.000000
121256  1566453    0.000000
121257  1566457    0.000000
121258  1566467    0.000000
121259  1566501    0.000000
121260  1566545    0.000000
121261  1566559    0.000000
121262  1566570    0.000000
121263  1566571    0.000000
121264  1566596    0.000000
121265  1566601    0.000000
121266  1566629    0.000000
121267  1566643    0.000000
121268  1566689    0.000000
121269  1566747    0.000000
121270  1566813    0.000000
121271  1566838    0.000000
121272  1566861    0.000000
121273  1566878    0.000000
121274  1566957    0.000000
121275  1566991    0.000000
121276  1567060    0.000000
121277  1567078    0.000000

[121278 rows x 2 columns]

In [27]:
mean_typo_comments.to_csv("mean_typo_comments.csv")

In [29]:
mean_typo_comments.describe()

              so_id     typo_score
count  1.212780e+05  121278.000000
mean   6.562035e+05       0.001769
std    4.403538e+05       0.075967
min    1.000000e+00       0.000000
25%    2.696865e+05       0.000000
50%    5.991410e+05       0.000000
75%    1.017185e+06       0.000000
max    1.567078e+06      10.000000

## Spell Check

In [30]:
from nltk import word_tokenize  
import enchant  
import re 
from enchant.checker import SpellChecker
from enchant.tokenize import EmailFilter, URLFilter
chrk= SpellChecker("en_US", filters= [EmailFilter, URLFilter])
d= enchant.Dict('en_US')
def check_spelling_score(text):
    if text == None:
        return -1
    try:
        text=str(text.encode("utf-8"))
        chrk.set_text(text)
        count=0
        for err in chrk:
            #print err.word
            count=count+1
    
        return count  
    except UnicodeEncodeError:
        return 0
    except:
        return 0
    
#outputs 1 if there is a spelling mistake
def check_spelling_binary(text):
    if text == None:
        return -1
    try:
        
        text=str(text.encode("utf-8"))
        ans = d.check(text)
        if ans==False:
            return 1
        return 0
    except UnicodeEncodeError:
        return 0
    except:
        return 0

In [31]:
comments1['spell_score'] =comments1.apply(lambda x: check_spelling_score(str(x['Text'])),axis=1)
comments1

,so_id,gh_id,Id,PostId,Text,typo_score,spell_score
0,1,279488,1,35314,not sure why this is getting downvoted -- it i...,1,1
1,1,279488,711,50366,"""Oll Korrect"" is part of the historical deriva...",2,2
2,1,279488,720,50769,we will eventually be able to merge accounts i...,2,0
3,1,279488,721,50907,"I've met Ted, for the record, and I don't agre...",3,1
4,1,279488,723,50967,myopenid.com is my recommendation -- they have...,1,2
5,1,279488,4039,60423,"""use them all the time, unless you have a very...",3,0
6,1,279488,4044,58912,that's hilarious! :),2,0
7,1,279488,4124,59932,"this is a great response, but you should note ...",3,2
8,1,279488,4369,34025,I do not think this is what the question was a...,1,0
9,1,279488,4376,61134,I agree that log4net is a pretty heavy depende...,1,0
10,1,279488,4731,61778,"yeah, but the only problem with Markdown is th...",2,0
11,1,279488,4860,62160,an excellent point -- when *storing* dates in ...,1,1
12,1,279488,6440,68338,this is how we do it -- deletion is always a d...,0,0
13,1,279488,7175,70706,I was going to link this! I LOVE LOVE LOVE thi...,4,0
14,1,279488,7189,71271,this is not a very good question -- can you re...,1,0
15,1,279488,9568,79709,I recommend editing this post to include some ...,1,1
16,1,279488,10081,81099,I agree.. why do you need to do it this way? I...,3,0
17,1,279488,10083,81080,note that you can also kill individual locks f...,1,0
18,1,279488,13865,92835,multiple web servers or just one? that will ch...,3,0
19,1,279488,13950,93077,from Fletch. nice.,2,0
20,1,279488,16901,100106,"not my idea of ""fun"" even a little, but I thin...",5,0
21,1,279488,20623,17032,mmmmm... dooberries.. delicious!,3,2
22,1,279488,41035,144791,"five different people, you mean",0,0
23,1,279488,41039,144791,"also, you can fix it yourself by rolling back ...",0,0
24,1,279488,44371,140841,"""reformatting code that is messy creates unusa...",3,1
25,1,279488,44379,128816,2 offensive votes so far. And we wonder why mo...,2,0
26,1,279488,56847,166573,"also known as ""guard clause""",2,0
27,1,279488,58991,174248,"agree, is this a web app or not?",1,1
28,1,279488,61241,159582,"hey, cool -- thank you! I will try this!",2,0
29,1,279488,61925,178587,except input.StartsWith() will perform about 1...,1,2
...,...,...,...,...,...,...,...
5051294,1566601,947229,15596141,11748197,"@Maximus, I would like to read from dedicated ...",0,3
5051295,1566601,947229,15597758,11749266,"Thank you for your answer, I will try it tomor...",0,6
5051296,1566629,596544,15595799,11748358,"Yes, your assumption is correct, but having a ...",0,0
5051297,1566629,596544,15597327,11748358,the syntax sudo -i echo '$USER' returns $USER....,0,2
5051298,1566629,596544,15597365,11748358,"If I try, sudo -i echo ""$USER"" , then it retur...",0,3
5051299,1566643,4394311,15592543,11746867,"If I lose the 's, I get this error: The text, ...",0,1
5051300,1566643,4394311,15592679,11746866,I changed the column name just to eliminate th...,0,1
5051301,1566643,4394311,15592834,11746874,Yes! that worked perfectly :) If you have time...,0,0
5051302,1566689,137639,15594239,11747321,right..So how can i load appcontext into beans...,0,1
5051303,1566689,137639,15594284,11747804,"there is tm.web.port in properties file, just ...",0,3
5051304,1566689,137639,15594360,11747805,Thanks for the reply.I have already done all t...,0,0
5051305,1566689,137639,15594430,11747805,I want to read the properties file using Rest....,0,9
5051306,1566747,1049396,15593963,11747540,"i did, but it goes after the tbody.",0,1
5051307,1566747,1049396,15593990,11747540,"i have the answer, but looks like i will have ...",0,0
5051308,1566747,1049396,15594034,11747540,this will do it\r\nTableElement myTable = quer...,0,10
5051309,1566813,1918925,15595849,11748301,I am still learning as I go so don't be afraid...,0,6
5051310,1566838,1931124,15597002,11748269,here is a direct link: http://apdrc.soest.hawa...,0,0
5051311,1566838,1931124,15598346,11748698,Thanks for your help. It is weird. I used 0.2...,0,0
5051312,1566861,911331,15597052,11749458,"Ah, in the actual code, I do this, I just left...",0,0
5051313,1566861,911331,15597105,11749333,"This is quite useful. However, doesn't doing ...",0,1
5051314,1566861,911331,15597403,11749333,"I mean, I wrote the modules `website_a` and `w...",0,1
5051315,1566861,911331,15597750,11749458,I have it set up so that the user provides the...,0,1
5051316,1566861,911331,15597936,11749333,"@sr2222 Classes it is, then. I'm still at the...",0,2
5051317,1566878,7399242,5696556,5082735,It looks like the problem is not with the rece...,0,0
5051318,1566957,8321077,15596534,11749155,I am using the jQuery .load() function so I ha...,0,9
5051319,1566957,8321077,15597193,11749155,I put my full code in the original post,0,0
5051320,1566991,480650,15597208,11749386,"How do I, for example, combine two memory bloc...",0,0
5051321,1567060,9421810,15597610,11749929,Thank you VERY much. I greatly appreciate it.,0,0
5051322,1567078,1300616,15598711,11750112,I know I was using the same Book it's because ...,0,0
5051323,1567078,1300616,15598743,11750082,"This is exactly what I was looking for, I don'...",0,0

In [32]:
comments1.to_csv("so_comments_typo_spell.csv")

In [33]:
mean_spell_comments = comments1.groupby('so_id')['spell_score'].mean().reset_index()
mean_spell_comments

          so_id  spell_score
0             1     0.662626
1             2     0.333333
2             3     0.896341
3             5     1.396104
4             9     1.461538
5            13     1.382866
6            17     1.145553
7            19     3.000000
8            20     1.033708
9            24     3.307692
10           26     1.070886
11           29     0.774648
12           34     1.625000
13           35     1.129412
14           36     0.568966
15           37     0.910112
16           38     0.794872
17           39     1.048780
18           40     0.864583
19           43     0.706522
20           49     2.074074
21           50     0.882716
22           51     1.144928
23           56     2.012821
24           58     1.238938
25           60     2.389151
26           61     0.991667
27           65     0.000000
28           67     0.967682
29           71     1.195929
...         ...          ...
121248  1566017     1.666667
121249  1566163     0.500000
121250  1566180     0.000000
121251  1566189     3.000000
121252  1566244     0.000000
121253  1566255     1.000000
121254  1566358     1.000000
121255  1566419     1.500000
121256  1566453     1.666667
121257  1566457     1.750000
121258  1566467     4.000000
121259  1566501     0.000000
121260  1566545     1.000000
121261  1566559     0.000000
121262  1566570     2.666667
121263  1566571     0.600000
121264  1566596     2.000000
121265  1566601     3.666667
121266  1566629     1.666667
121267  1566643     0.666667
121268  1566689     3.250000
121269  1566747     3.666667
121270  1566813     6.000000
121271  1566838     0.000000
121272  1566861     1.000000
121273  1566878     0.000000
121274  1566957     4.500000
121275  1566991     0.000000
121276  1567060     0.000000
121277  1567078     0.000000

[121278 rows x 2 columns]

In [34]:
mean_spell_comments.to_csv("mean_spell_comments.csv")